{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<section id="content" class="body">
    <h1>Welcome! I'm glad you are here!</h1>
</section>

<section id="content" class="body">
    <h1> <mark>Recent news</mark></h1>
    <ul>
        <li><a href="./publications#hasan2022effect">2nd journal article</a> from my M.Sc. thesis is accepted in Wiley Expert Systems journal (SJR: Q2, IF: 2.587).</li>
        <li><a href="./publications#qin2022machine">Conference paper</a> accepted for the 10th ICHI 2022, USA.</li>
    </ul>
</section>

{% endblock content %}
