 /* Courtesy: https://gist.github.com/ericrasch/2919680 */

 @import url("main.css");
 
 /* body {
    background: #f7f7ef;
    color: #4e443c;
    margin: 20px;
    padding: 20px;
    min-height: 100%;
} */

ol {
    list-style-type: decimal;
    margin-bottom: 20px;
}

ol.prefixed {
	border-top: 1px solid rgba(78,68,50,.05);
    counter-reset: item;
    list-style-type: none;
    *list-style-type: decimal; /*Conditional hack for ie7*/
    margin-left: 30px;
    padding-top: 0px;
	text-indent: -25px;
}

ol.prefixed li:before {
    content: 'J' counter(item, decimal) '. ';
    counter-increment: item;
}

/* The <ol> needs to have its counter-reset redefined for each version you want to create. */

/* BOOK */
ol.book { counter-reset: item; }
ol.book li:before { content: 'B' counter(item, decimal) '. '; }

/* JOURNAL */
ol.journal { counter-reset: item; }
ol.journal li:before { content: 'J' counter(item, decimal) '. '; }

/* CONFERENCE */
ol.conference { counter-reset: item; }
ol.conference li:before { content: 'C' counter(item, decimal) '. '; }

/* OTHERS */
ol.other { counter-reset: item; }
ol.other li:before { content: 'O' counter(item, decimal) '. '; }

/* ol.nodot { counter-reset: item; }
​ol.nodot li:before { content: 'Step ' counter(item, decimal) ' '; }
​
ol.styled { counter-reset: item; }
ol.styled li {
    background: rgba(78,68,50,.10);
    border-radius: 4px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 2;
	margin-bottom: 10px;
	width: 200px;
}
ol.styled li:before {
    content: '' counter(item, decimal) '';
    background: #4e443c;
    border-radius: 4px;
    color: #f7f7ef;
	font-size: 15px;
    margin: 0 5px 0 8px;
    padding: 4px 7px;
} */